In [1]:
import pandas
data=pandas.read_csv("input/train_set.csv")
data=data[:10]
data

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12
5,5,7368 1160791 299237 1238054 569999 1044285 117...,816903 669476 21577 520477 1004165 4184 616471...,13
6,6,893673 7368 836872 674898 231468 856005 105964...,277781 816903 1098157 986174 1033823 780491 10...,1
7,7,1122654 125310 907560 1172361 979583 983951 12...,289186 640942 363388 585102 261174 1217680 520...,10
8,8,793790 599682 1223643 1030656 569999 178976 45...,1257015 966562 1054308 599826 811205 520477 28...,10
9,9,7368 1120647 360394 79747 1140778 472252 7368 ...,816903 266069 1226448 1276450 816903 769051 12...,19

In [ ]:
data[::].max()

In [ ]:
data.isnull()

In [4]:
data.notnull()

          id  article  word_seg  class
0       True     True      True   True
1       True     True      True   True
2       True     True      True   True
3       True     True      True   True
4       True     True      True   True
5       True     True      True   True
6       True     True      True   True
7       True     True      True   True
8       True     True      True   True
9       True     True      True   True
10      True     True      True   True
11      True     True      True   True
12      True     True      True   True
13      True     True      True   True
14      True     True      True   True
15      True     True      True   True
16      True     True      True   True
17      True     True      True   True
18      True     True      True   True
19      True     True      True   True
20      True     True      True   True
21      True     True      True   True
22      True     True      True   True
23      True     True      True   True
24      True     True      True   True
25      True     True      True   True
26      True     True      True   True
27      True     True      True   True
28      True     True      True   True
29      True     True      True   True
...      ...      ...       ...    ...
102247  True     True      True   True
102248  True     True      True   True
102249  True     True      True   True
102250  True     True      True   True
102251  True     True      True   True
102252  True     True      True   True
102253  True     True      True   True
102254  True     True      True   True
102255  True     True      True   True
102256  True     True      True   True
102257  True     True      True   True
102258  True     True      True   True
102259  True     True      True   True
102260  True     True      True   True
102261  True     True      True   True
102262  True     True      True   True
102263  True     True      True   True
102264  True     True      True   True
102265  True     True      True   True
102266  True     True      True   True
102267  True     True      True   True
102268  True     True      True   True
102269  True     True      True   True
102270  True     True      True   True
102271  True     True      True   True
102272  True     True      True   True
102273  True     True      True   True
102274  True     True      True   True
102275  True     True      True   True
102276  True     True      True   True

[102277 rows x 4 columns]

In [11]:
data.shape

(102277, 4)